client-core/src/main/resources/messages_get.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://api.friendster.com/v1/messages_get" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="latest_message_body" type="xs:string"/>
  <xs:element name="sender_id" type="xs:string"/>
  <xs:element name="page" type="xs:string"/>
  <xs:element name="message_response">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="v1:messages" xmlns:v1="http://api.friendster.com/v1/messages_get"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="messages">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="v1:conversation" maxOccurs="unbounded" minOccurs="0" xmlns:v1="http://api.friendster.com/v1/messages_get"/>
        <xs:element ref="v1:page" xmlns:v1="http://api.friendster.com/v1/messages_get"/>
        <xs:element ref="v1:next_page" xmlns:v1="http://api.friendster.com/v1/messages_get"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cid" type="xs:string"/>
  <xs:element name="recipient_name" type="xs:string"/>
  <xs:element name="sender_name" type="xs:string"/>
  <xs:element name="next_page" type="xs:string"/>
  <xs:element name="conversation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="v1:cid" xmlns:v1="http://api.friendster.com/v1/messages_get"/>
        <xs:element ref="v1:latest_message_body" xmlns:v1="http://api.friendster.com/v1/messages_get"/>
        <xs:element ref="v1:sender_id" xmlns:v1="http://api.friendster.com/v1/messages_get"/>
        <xs:element ref="v1:sender_name" xmlns:v1="http://api.friendster.com/v1/messages_get"/>
        <xs:element ref="v1:recipient_id" xmlns:v1="http://api.friendster.com/v1/messages_get"/>
        <xs:element ref="v1:recipient_name" xmlns:v1="http://api.friendster.com/v1/messages_get"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recipient_id" type="xs:string"/>
</xs:schema>