client-core/src/main/resources/newmessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://api.friendster.com/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="newmessages_response">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="new" type="xs:string"/>
      <xs:element name="last_update" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  </xs:element>
</xs:schema>