src/main/resources/user_information.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://api.friendster.com/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="user_response" type="v1:user_responseType" xmlns:v1="http://api.friendster.com/v1/"/>
  <xs:complexType name="locationType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="member_sinceType">
    <xs:sequence>
      <xs:element type="xs:string" name="year"/>
      <xs:element type="xs:string" name="month"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="school_listType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="list" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="college_listType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="list" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="user_responseType">
    <xs:sequence>
      <xs:element type="v1:userType" name="user" maxOccurs="unbounded" minOccurs="0" xmlns:v1="http://api.friendster.com/v1/"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="list"/>
  </xs:complexType>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element name="uid">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="first_name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="last_name"/>
      <xs:element name="url">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="primary_photo_url">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="level">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="v1:locationType" name="location" xmlns:v1="http://api.friendster.com/v1/"/>
      <xs:element type="xs:string" name="hometown"/>
      <xs:element type="xs:string" name="user_type"/>
      <xs:element type="xs:string" name="fan_profile_type"/>
      <xs:element type="xs:string" name="fan_profile_category"/>
      <xs:element type="xs:string" name="relationship_status"/>
      <xs:element name="gender">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Female"/>
            <xs:enumeration value="Male"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="v1:member_sinceType" name="member_since" xmlns:v1="http://api.friendster.com/v1/"/>
      <xs:element type="v1:interested_inType" name="interested_in" xmlns:v1="http://api.friendster.com/v1/"/>
      <xs:element type="xs:string" name="occupation"/>
      <xs:element type="xs:string" name="companies"/>
      <xs:element type="xs:string" name="hobbies_and_interests"/>
      <xs:element type="xs:string" name="affiliations"/>
      <xs:element type="v1:college_listType" name="college_list" xmlns:v1="http://api.friendster.com/v1/"/>
      <xs:element type="v1:school_listType" name="school_list" xmlns:v1="http://api.friendster.com/v1/"/>
      <xs:element type="xs:string" name="school_other"/>
      <xs:element type="xs:string" name="favorites"/>
      <xs:element type="xs:string" name="about_me"/>
      <xs:element type="xs:string" name="want_to_meet"/>
      <xs:element type="xs:string" name="birthday"/>
      <xs:element type="xs:string" name="fb_id"/>
      <xs:element type="xs:string" name="admin"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="interested_inType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="list" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>